{{ 'component-card.css' | asset_url | stylesheet_tag }}
{{ 'component-price.css' | asset_url | stylesheet_tag }}

{{ 'component-slider.css' | asset_url | stylesheet_tag }}
{{ 'template-collection.css' | asset_url | stylesheet_tag }}

{% if section.settings.image_shape == 'blob' %}
  {{ 'mask-blobs.css' | asset_url | stylesheet_tag }}
{%- endif -%}

{%- unless section.settings.quick_add == 'none' -%}
  {{ 'quick-add.css' | asset_url | stylesheet_tag }}
  <script src="{{ 'product-form.js' | asset_url }}" defer="defer"></script>
{%- endunless -%}

{%- if section.settings.quick_add == 'standard' -%}
  <script src="{{ 'quick-add.js' | asset_url }}" defer="defer"></script>
{%- endif -%}

{%- if section.settings.quick_add == 'bulk' -%}
  <script src="{{ 'quick-add-bulk.js' | asset_url }}" defer="defer"></script>
  <script src="{{ 'quantity-popover.js' | asset_url }}" defer="defer"></script>
  <script src="{{ 'price-per-item.js' | asset_url }}" defer="defer"></script>
  <script src="{{ 'quick-order-list.js' | asset_url }}" defer="defer"></script>
{%- endif -%}

{{ 'c_featured-collection-ranking.css' | asset_url | stylesheet_tag }}

{%- style -%}
  .section-{{ section.id }}-padding {
    padding-top: {{ section.settings.padding_top_sp }}px;
    padding-bottom: {{ section.settings.padding_bottom_sp }}px ;
  }

  @media screen and (min-width: 750px) {
    .section-{{ section.id }}-padding {
      padding-top: {{ section.settings.padding_top }}px;
      padding-bottom: {{ section.settings.padding_bottom }}px;
    }
  }

  #shopify-section-{{ section.id }} {
    overflow: hidden;
  }

  #shopify-section-{{ section.id }} .splide__track {
    overflow: visible;
  }
{%- endstyle -%}

<div class="section-{{ section.id }}-padding color-{{ section.settings.color_scheme }}">
  <div class="c_featured-collection page-width">
    <div class="c_section-head c_featured-collection__head">
      {% render 'c_section-title', title: section.settings.title, title_sub: section.settings.title_sub %}
    </div>

    <nav class="c_tabs-nav c_featured-collection__nav">
      <ul class="c_tabs-list">
        {% for block in section.blocks %}
          {%- if block.settings.title_sub != blank -%}
            <li class="c_tab-item">
              <button data-tab="tab-{{block.id}}"
               class="c_tab-button {% if forloop.first %}is-active{% endif %}"
              >
                <span class="c_tab-title">{{ block.settings.title_sub }}</span>
                {%- if block.settings.title_sub != blank -%}
                  <span class="c_tab-subtitle">{{ block.settings.title }}</span>
                {%- endif -%}
              </button>
            </li>
          {%- endif -%}
        {% endfor %}
      </ul>
    </nav>

    <div class="c_tabs-content c_featured-collection__content">
      {% for block in section.blocks %}
        <ul data-tab="tab-{{block.id}}" class="c_tab-panel c_featured-collection__list {% if forloop.first %}is-active{% endif %}">
          {%- for product in block.settings.collection.products limit: section.settings.products_to_show -%}
            <li class="c_featured-collection__item">
              {% render 'c_card-product',
                card_product: product,
                media_aspect_ratio: section.settings.image_ratio,
                image_shape: section.settings.image_shape,
                show_secondary_image: section.settings.show_secondary_image,
                show_vendor: section.settings.show_vendor,
                show_rating: section.settings.show_rating,
                skip_styles: skip_card_product_styles,
                section_id: section.id,
                quick_add: section.settings.quick_add,
                ranking: section.settings.ranking,
                index: forloop.index
              %}
            </li>
            {%- assign skip_card_product_styles = true -%}
          {% endfor %}
        </ul>
      {% endfor %}
    </div>
  </div>
</div>

<script>
  document.addEventListener('DOMContentLoaded', function() {
    const tabs = document.querySelectorAll('#shopify-section-{{ section.id }} .c_tab-button');
      
    tabs.forEach(tab => {
      tab.addEventListener('click', () => {
        const tabId = tab.getAttribute('data-tab');
        
        document.querySelectorAll('#shopify-section-{{ section.id }} .c_tab-button.is-active, #shopify-section-{{ section.id }} .c_tab-panel.is-active')
          .forEach(el => el.classList.remove('is-active'));
        
        tab.classList.add('is-active');
        
        const targetPanel = document.querySelector('.c_tab-panel[data-tab="' + tabId + '"]');
        
        targetPanel.classList.add('is-active');
      });
    });
  });
</script>

{% schema %}
{
  "name": "カスタム:特集コレクション(ランキング)",
  "max_blocks": 3,
  "settings": [
    {
      "type": "text",
      "id": "title_sub",
      "label": "サブ見出し",
      "default": "サブ見出し"
    },
    {
      "type": "text",
      "id": "title",
      "label": "見出し",
      "default": "見出し"
    },
    {
      "type": "range",
      "id": "products_to_show",
      "min": 2,
      "max": 25,
      "step": 1,
      "default": 4,
      "label": "t:sections.featured-collection.settings.products_to_show.label"
    },
    {
      "type": "header",
      "content": "t:sections.featured-collection.settings.header.content"
    },
    {
      "type": "select",
      "id": "image_ratio",
      "options": [
        {
          "value": "adapt",
          "label": "t:sections.featured-collection.settings.image_ratio.options__1.label"
        },
        {
          "value": "portrait",
          "label": "t:sections.featured-collection.settings.image_ratio.options__2.label"
        },
        {
          "value": "square",
          "label": "t:sections.featured-collection.settings.image_ratio.options__3.label"
        }
      ],
      "default": "adapt",
      "label": "t:sections.featured-collection.settings.image_ratio.label"
    },
    {
      "type": "select",
      "id": "image_shape",
      "options": [
        {
          "value": "default",
          "label": "t:sections.all.image_shape.options__1.label"
        },
        {
          "value": "arch",
          "label": "t:sections.all.image_shape.options__2.label"
        },
        {
          "value": "blob",
          "label": "t:sections.all.image_shape.options__3.label"
        },
        {
          "value": "chevronleft",
          "label": "t:sections.all.image_shape.options__4.label"
        },
        {
          "value": "chevronright",
          "label": "t:sections.all.image_shape.options__5.label"
        },
        {
          "value": "diamond",
          "label": "t:sections.all.image_shape.options__6.label"
        },
        {
          "value": "parallelogram",
          "label": "t:sections.all.image_shape.options__7.label"
        },
        {
          "value": "round",
          "label": "t:sections.all.image_shape.options__8.label"
        }
      ],
      "default": "default",
      "label": "t:sections.all.image_shape.label"
    },
    {
      "type": "checkbox",
      "id": "show_secondary_image",
      "default": false,
      "label": "t:sections.featured-collection.settings.show_secondary_image.label"
    },
    {
      "type": "checkbox",
      "id": "show_vendor",
      "default": false,
      "label": "t:sections.featured-collection.settings.show_vendor.label"
    },
    {
      "type": "checkbox",
      "id": "show_rating",
      "default": false,
      "label": "t:sections.featured-collection.settings.show_rating.label",
      "info": "t:sections.featured-collection.settings.show_rating.info"
    },
    {
      "type": "select",
      "id": "quick_add",
      "default": "none",
      "label": "t:sections.main-collection-product-grid.settings.quick_add.label",
      "options": [
        {
          "value": "none",
          "label": "t:sections.main-collection-product-grid.settings.quick_add.options.option_1"
        },
        {
          "value": "standard",
          "label": "t:sections.main-collection-product-grid.settings.quick_add.options.option_2"
        },
        {
          "value": "bulk",
          "label": "t:sections.main-collection-product-grid.settings.quick_add.options.option_3"
        }
      ]
    },
    {
      "type": "checkbox",
      "id": "ranking",
      "label": "ランキング",
      "default": true
    },
    {
      "type": "header",
      "content": "デスクトップ"
    },
    {
      "type": "range",
      "id": "padding_top",
      "label": "上部の余白",
      "unit": "px",
      "min": 0,
      "max": 200,
      "step": 2,
      "default": 0
    },
    {
      "type": "range",
      "id": "padding_bottom",
      "label": "下部の余白",
      "unit": "px",
      "min": 0,
      "max": 200,
      "step": 2,
      "default": 0
    },
    {
      "type": "header",
      "content": "モバイル"
    },
    {
      "type": "range",
      "id": "padding_top_sp",
      "label": "上部の余白",
      "unit": "px",
      "min": 0,
      "max": 100,
      "step": 1,
      "default": 0
    },
    {
      "type": "range",
      "id": "padding_bottom_sp",
      "label": "下部の余白",
      "unit": "px",
      "min": 0,
      "max": 100,
      "step": 1,
      "default": 0
    },
    {
      "type": "color_scheme",
      "id": "color_scheme",
      "label": "t:sections.all.colors.label",
      "default": "scheme-1"
    }
  ],
  "blocks": [
    {
      "type": "collection",
      "name": "コレクション",
      "settings": [
        {
          "type": "text",
          "id": "title_sub",
          "label": "サブ見出し",
          "default": "サブ見出し"
        },
        {
          "type": "text",
          "id": "title",
          "label": "見出し",
          "default": "見出し"
        },
        {
          "type": "collection",
          "id": "collection",
          "label": "t:sections.featured-collection.settings.collection.label"
        }
      ]
    }
  ],
  "presets": [
    {
      "name": "カスタム:特集コレクション(コレクション)"
    }
  ]
}
{% endschema %}
