{{ 'c_news.css' | asset_url | stylesheet_tag }}

{%- style -%}
  .section-{{ section.id }}-padding {
    padding-top: {{ section.settings.padding_top_sp }}px ;
    padding-bottom: {{ section.settings.padding_bottom_sp }}px ;
  }

  @media screen and (min-width: 750px) {
    .section-{{ section.id }}-padding {
      padding-top: {{ section.settings.padding_top }}px;
      padding-bottom: {{ section.settings.padding_bottom }}px;
    }
  }
{%- endstyle -%}

<div class="section-{{ section.id }}-padding color-{{ section.settings.color_scheme }}">
  <div class="c_news page-width">
    <div class="c_section-head c_news__head">
      {% render 'c_section-title', title: section.settings.title, title_sub: section.settings.title_sub %}
    </div>

    <div class="c_news__content">
      <ul class="c_news__list">
        {% for article in section.settings.blog.articles limit: section.settings.limit %}
          <li class="c_news__item">
            <a href="{{ article.url }}" class="c_news__item-link">
              <div class="c_news__item-info">
                <span class="c_news__item-date">{{ article.published_at | date: '%Y.%m.%d'}}
                  {% for tag in article.tags %}
                    {%- if tag contains 'label_' -%}
                      <span class="c_news__item-category">
                        {{ tag | remove: 'label_' }}
                      </span>
                      {%- break -%}
                    {%- endif -%}
                  {% endfor %}
                </span>
              </div>
              <h3 class="c_news__item-title">{{ article.title }}</h3>
              {{ 'c_icon-arrow-news.svg' | inline_asset_content }}
            </a>
          </li>
        {% endfor %}
      </ul>

      <div class="c_blog__button c_news__button">
        <a href="{{ section.settings.blog.url }}" class="c_blog__button-link c_news__button-link">
        {{ section.settings.button_text }}
        {{ 'c_icon-arrow-news.svg' | inline_asset_content }}
        </a>
      </div>
    </div>

    {%- if section.settings.image != blank -%}
      <div class="c_news__image">
        <img src="{{ section.settings.image | image_url: width: 630 }} alt="{{ section.settings.image.alt }} width="210" height="210">
      </div>
    {%- endif -%}
  </div>
</div>

{% schema %}
{
  "name": "カスタム: ニュース",
  "settings": [
    {
      "type": "text",
      "id": "title_sub",
      "label": "サブ見出し",
      "default": "サブ見出し"
    },
    {
      "type": "text",
      "id": "title",
      "label": "見出し",
      "default": "見出し"
    },
    {
      "type": "blog",
      "id": "blog",
      "label": "ブログ",
    },
    {
     "type": "range",
     "id": "limit",
     "label": "表示数",
     "min": 1,
     "max": 10,
     "step": 1,
     "default": 3
    },
    {
      "type": "text",
      "id": "button_text",
      "label": "ボタンテキスト",
      "default": "全てを見る"
    },
    {
      "type": "image_picker",
      "id": "image",
      "label": "画像"
    },
    {
      "type": "header",
      "content": "デスクトップ"
    },
    {
      "type": "range",
      "id": "padding_top",
      "label": "上下の余白",
      "unit": "px",
      "min": 0,
      "max": 200,
      "step": 2,
      "default": 0
    },
    {
      "type": "range",
      "id": "padding_bottom",
      "label": "下部の余白",
      "unit": "px",
      "min": 0,
      "max": 200,
      "step": 2,
      "default": 0
    },
    {
      "type": "header",
      "content": "モバイル"
    },
    {
      "type": "range",
      "id": "padding_top_sp",
      "label": "上下の余白",
      "unit": "px",
      "min": 0,
      "max": 100,
      "step": 1,
      "default": 0
    },
    {
      "type": "range",
      "id": "padding_bottom_sp",
      "label": "下部の余白",
      "unit": "px",
      "min": 0,
      "max": 100,
      "step": 1,
      "default": 0
    },
    {
      "type": "color_scheme",
      "id": "color_scheme",
      "label": "t:sections.all.colors.label",
      "default": "scheme-1"
    }
  ],
  "presets": [
    {
      "name": "カスタム:ニュース"
    }
  ]
}
{% endschema %}
